// breakpoints - xs < 576px | sm 576px > < 768px | md 768px > < 992| lg 992 > < 1200px | xl 1200px > < 1600 | xxl > 1600px
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1600px;

// Mixins for media queries
@mixin mobile {
  @media only screen and (max-width: #{$screen-sm - 1}) {
    @content;
  }
}

@mixin tablet {
  @media only screen and (min-width: #{$screen-sm}) and (max-width: #{$screen-md - 1}) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: #{$screen-md}) {
    @content;
  }
}

@mixin small-desktop {
  @media only screen and (min-width: #{$screen-md}) and (max-width: #{$screen-xl - 1}) {
    @content;
  }
}

@mixin medium-desktop {
  @media only screen and (min-width: #{$screen-xl}) and (max-width: #{$screen-xxl - 1}) {
    @content;
  }
}

@mixin tablet-desktop {
  @media only screen and (min-width: #{$screen-sm}) {
    @content;
  }
}

@mixin mobile-tablet {
  @media only screen and (max-width: #{$screen-md - 1}) {
    @content;
  }
}

@mixin mobile-landscape {
  @media only screen and (max-height: #{$screen-sm - 1}) {
    @content;
  }
}
